.book {
    text-align: center;
    margin: 0 auto;
    display: inline-block;
}

.frame {
    border: 1px solid #e1e1e3;
    background-color: #FFF;
}

.small {
    font-size: smaller;
}

.loading {
    background-color: beige;
    border: 1px dashed black;
}

.localBook {
    display: flex;
    flex-direction: row;
    height: min-content;
    gap: 5px;
    border: 1px solid;
    margin: 0;
    padding: 3px;
    background-color: blanchedalmond;
}

.cover {
    height: 100%;
    width: calc(6/9*height);
    flex-grow: 0;
}

.info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-overflow: ellipsis;
}

.searchResults {
    display: flex;
    flex-direction: column;
    gap: 2px;
    min-width: min-content;
}

.title {
    text-overflow: ellipsis;
}

.disabled {
    background-color: white;
}

.clickable {
    cursor: pointer;
}

.searchPage {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.input {
    flex-grow: 0;
    max-width: 30em;
}

.selected {
    flex-grow: 0;
    max-width: 30em;
}