.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 15px;
}

.h1 {
  color: white;
  font-size: 4em;
}

.challenge {
  font-size: larger;
  color: white;
  font-weight: 600;
}

.challenge a {
  font-weight: 800;
  color: blanchedalmond;
}

.github {
  width: 100%;
  margin-right: 2em;
  text-align: right;
}